<!DOCTYPE html>
<html lang="en">
<%- include('./partials/Head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <h1>Home</h1>
    </body>


<%- include('./partials/script.ejs') %>
</html>